   
    <!-- Section: About -->
    <section id="about">
        <div class="container pb-70">
          <div class="section-content">
            <div class="row">
              <div class="col-md-8 col-sm-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                <h2 class="text-uppercase mt-0">Bienvenido a la <span class="text-theme-color-2">  Politécnica Colombiana </span></h2>
                <p class="lead">Ofrecemos programas en diferentes  áreas del conocimiento basada en proyectos con apoyo de plataformas digitales y metodología virtual para facilitar el acceso académico y favorecer el desempeño en el campo laboral y personal.</p>
                <div class="row mt-40">
                  <div class="col-md-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="mb-sm-30">
                      <img class="img-fullwidth" src="assets/images/about/7.jpg" alt="">
                      <h4 class="letter-space-1 mt-10">Carreras <span class="text-theme-color-2"> técnicas laborales</span></h4>
                      <p>Educación enfocada a la Economía Naranja.</p>
                      <!--<a href="#" class="btn btn-sm btn-theme-colored">Leer más</a> -->
                    </div>
                
                  </div>
                  <div class="col-md-6 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30">
                      <img class="img-fullwidth" src="assets/images/about/8.jpg" alt="">
                     
                      <h4 class=" letter-space-1 mt-10">Bachillerato a <span class="text-theme-color-2">distancia</span></h4>
                      <p>Somos la primera institución con la aprobación a distancia para ofertar el bachillerato en esta modalidad.</p>
                      <!-- <a href="#" class="btn btn-sm btn-theme-colored">Leer más</a>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="container pb-70"> 
                <app-formulario></app-formulario>
              </div>
            </div>
          </div>
        </div>
      </section>