<section>
    <div class="container mt-30 mb-0 pt-30 pb-30">
      <div class="row">
        <div class="col-md-8 blog-pull-left">
          <div class="single-service">
            <img src="assets/images/services/lg10.jpg" alt="">
            <h3 class="text-theme-colored">Inglés para Atención al Cliente</h3>
             <!--<h5><em>Diplomado <span class="text-theme-color-2">Aprobación 06-0006</span> Secretaría de Educación Distrital.</em></h5>-->
            <p>En este Diplomado, los estudiantes aprenderán sobre mejores prácticas de la industria y verán ejemplos reales de cómo ofrecer atención al cliente a través diversos canales, como por teléfono, correo electrónico, chat en vivo y redes sociales.</p>
                        
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-theme-colored">¿Que aprenderás? </h3>
                
                <p><li>Cómo ofrecer una buena experiencia de atención al cliente.</li>
                  <li>Aprende a brindar una excelente atención al cliente por teléfono.</li>
                  <li>Aprende a ofrecer un servicio de atención al cliente de calidad a través de correo electrónico, por chat y en las redes sociales.</li>

                  
                
                </p><br>
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-12">
                    <div class="widget">
                      <h4 class="widget-title line-bottom">Información</h4>
                        <div class="opening-hours">
                          <ul class="list-border">
                            <li class="clearfix"> <span> Diploma como :  </span>
                              <div class="value pull-right"> Inglés para Atención al Cliente  </div>
                            </li>
                            <li class="clearfix"> <span> Niveles :</span>
                              <div class="value pull-right"> 6 </div>
                            </li>
                            <li class="clearfix"> <span> Modalidad : </span>
                              <div class="value pull-right"> Virtual </div>
                            </li>
                            <li class="clearfix"> <span> Requisitos mínimos de inglés :</span>
                              <div class="value pull-right"> Nivel A2 o B1 </div>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </div>
            <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="icon-box box-border text-center mb-20 p-15"> 
                     <i class="fa fa-desktop text-theme-color-2 font-36 video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=sR58U6RWzRM" data-target="#myModal"></i>
                     
                     
                      <h4>Click ver Video</h4>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="icon-box box-border text-center mb-20 p-15">
                      <a href="http://www.nuevaamerica.edu.co/wp-content/uploads/2019/06/PLAN-DE-ESTUDIOS-TALENTO-HUMANO.pdf" target="_black"><i class="fa fa-user text-theme-color-2 font-36"></i>
                      <h4>Plan de estudios</h4></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="icon-box box-border text-center mb-20 p-15">
                      <i class="fa fa-money text-theme-color-2 font-36"></i>
                      <h4 class="">Información de costos</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-xsm-12 col-md-4">
          <div class="sidebar sidebar-right mt-sm-30">
            <div class="p-30 bg-theme-colored mt-10">
                <div style="text-align: center;">
              <h3 class="text-white mt-0 mb-10">Tengo dudas quiero que me llamen!</h3>
                </div> 
            <!-- Appilication Form Start-->
            <div id="carga">
            <form id="reservation_form" class="reservation-form mt-20">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input placeholder="Tu nombre" type="text" id="reservation_name" name="first_name"  required="required" class="form-control">
                  </div>
                   <div class="form-group mb-20">
                    <input placeholder="Tu Apellido" type="text" id="reservation_name" name="last_name"  required="required" class="form-control">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input placeholder="Email" type="text" id="reservation_email" name="email" class="form-control"  required="required">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input placeholder="Celular o Whatsapp" type="text" id="reservation_phone" name="custom_celular" class="form-control"  required="required">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-0 mt-10">
                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                    <button type="submit" class="btn btn-colored btn-info text-white btn-lg btn-block" data-loading-text="Please wait...">Quiero que me llamen</button>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <!-- Application Form End-->

            
            </div>
            <br>
            <div class="divider parallax call-to-action pt-50 pb-50" data-bg-img="assets/images/bg/bg2.png">
              <div class="row">
                <div class="col-sm-12"> 
                    <div style="text-align: center;">
                    <a href="#" class="btn btn-colored btn-danger btn-lg">Inicia tu solicitud de adminsión</a> 
                    </div>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>