<section id="about">
    <div class="container mt-50 pb-70 pt-0">
      <div class="section-content">
        <div class="row mt-10">
          <div class="col-sm-12 col-md-6 mb-sm-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <h3 class="text-uppercase mt-15">Bienvenido a la <span class="text-theme-color-2">  Politécnica Colombiana </span></h3>
            <p class="lead" align="justify">La POLITÉCNICA COLOMBIANA, con una trayectoria actual de 30 años en el campo de la educación.</p>
            <p class="mb-15" align="justify">A contado con diversos cursos y programas, entre ellos los aprobados en diferentes sedes de la ciudad, como son los aprobados bajo la resolución 0898 del 29 de abril de 1993, la resolución 6762 del 27 de noviembre de 1996, la resolución 9019 del 22 de diciembre de 1997 , la resolución 3464 del 28 de octubre de 2002 y la resolución 1324 de Mayo de 2004, y decidió registrar los programas actualizados por competencias laborales, de acuerdo a los lineamientos del decreto 2888 de Julio 31 de 2007, obteniendo las resoluciones 13016 enero del 2011,03001 de enero del 2011 y 060017 de marzo de 2011.</p>
            <p class="mb-15" align="justify">Institución  creada  por  el Ingeniero LUÍS ALBERTO SILVA DURÁN,  con la activa participación de un selecto grupo de profesionales del campo de la educación nacio con el nombre ESCUELA COLOMBIANA DE INFORMÁTICA Y SISTEMAS, posteriormente cambio a ESCUELA COLOMBIANA DE SISTEMAS y finalmente en junio de 2008 a La POLITÉCNICA COLOMBIANA,  como objetivo de tener una permanente evolución en todas las áreas del conocimiento.</p>
            <p class="mb-10" align="justify">MISIÓN
            Formar a los proximos profesionales en tecnología, artes, idiomas y finanzas en la industria de la economia del conocimiento y cultura en Colombia, con carreras técnicas laborales escalables, educamos para la creación,proyección y ejecución de proyectos ayudando en la distribución y analisis del mercado .</p>
            <p class="mb-10" align="justify">VISIÓN
            Fortalecer nuestra institución de formación para el trabajo y el desarrollo humano en educación virtual, promoviendo nuestra  metodología de enseñanza en la formación y capacitación de programas que aportan al desarrollo de las personas y el país.</p>              
          </div>
          <div class="col-sm-12 col-md-6 mt-10 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="video-popup">                
              <a href="https://www.youtube.com/watch?v=pW1uVUg5wXM" data-lightbox-gallery="youtube-video" title="Video">
                <img alt="" src="http://www.lapolitecnica.edu.co/lp/bachillerato/images/stories/mapadeprocesos.png" class="img-responsive img-fullwidth mt-10 ml-30 ml-xs-0 ml-sm-0">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
