<footer id="footer" class="footer bg-black-222" data-bg-img="http://lapolitecnica.edu.co/images/footer-bg.png">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <img class="mt-10 mb-15" alt="" src="http://lapolitecnica.edu.co/images/logo-wide-white.png">
            <p class="font-16 mb-10">Siguenos en nuestras redes.</p>
            <!-- <a class="font-14" href="#"><i class="fa fa-angle-double-right text-theme-colored"></i> Read more</a>-->
            <ul>
              <li><a href="https://www.facebook.com/POLITECNICA-COLOMBIANA-122601121176312/" target="_blank"><img alt="" src="http://lapolitecnica.edu.co/images/facebook.png" height="50px"></a>&nbsp;&nbsp;<a href="#" target="_blank"><img alt="" src="http://lapolitecnica.edu.co/images/instagram.png" height="50px"></a>&nbsp;&nbsp;<a href="#" target="_blank"><img alt="" src="http://lapolitecnica.edu.co/images/youtube.png" height="50px"></a>&nbsp;&nbsp;<a href="https://api.whatsapp.com/send?phone=3504542518&text=Hola,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20los%20programas" target="_blank"><img alt="" src="http://lapolitecnica.edu.co/images/whatsapp.png" height="50px"></a></li>
              
             
            </ul>
          </div>
        </div>
        <!--
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Proceso Admisiones</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="#">Inscripciones Programas</a></li>
              <li><a href="#">Inscripciones Colegio</a></li>
              <li><a href="#">Estudiantes Extranjeros</a></li>
              <li><a href="#">Matriculas y Financiación</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Egresados</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="#">Egresados Destacados</a></li>
              <li><a href="#">Paz y Salvo</a></li>
              <li><a href="#">Servicio a Egresados</a></li>
              <li><a href="#">Ofertas Empresas</a></li>
              <li><a href="#">Convenios Universidades</a></li>
            </ul>
          </div>
        </div>        
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Programas para Colegios</h5>
            <ul class="list-border">
              <li><a href="#">+(057) 350 454-25-18</a></li>
              <li><a href="#">soporte@lapolitecnica.edu.co</a></li>
              <li><a href="#" class="lineheight-20">Diagonal 45 B sur #53 A - 47</a></li>
            </ul>
            <p class="font-16 text-white mb-5 mt-15">Recibe información para programas de colegios</p>

            <form id="footer-mailchimp-subscription-form" class="newsletter-form mt-10">
              <label class="display-block" for="mce-EMAIL"></label>
              <div class="input-group">
                <input type="email" value="" name="EMAIL" placeholder="Email Colegio"  class="form-control" data-height="37px" id="mce-EMAIL">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-colored btn-theme-colored m-0"><i class="fa fa-paper-plane-o text-white"></i></button>
                </span>
              </div>
            </form>
                     
          </div>
        </div>
        -->
      </div>
    </div>

    <div class="footer-bottom bg-black-333">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-11 text-black-777 m-0">Tdos los derechos reservados | <a href="#" target="_blank">Diseño Grupo Bvirtual SAS</a></p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="#">Políticas de confidencialidad</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
