<section>
    <div class="container mt-30 mb-0 pt-30 pb-30">
      <div class="row">
        <div class="col-md-8 blog-pull-left">
          <div class="single-service">
            
            <h3 class="text-theme-colored">Procesos Contables Convenio Educación Superior</h3>
            <h5><em>Programa Técnico Profesional, <span class="text-theme-color-2">SNIES 102386</span> Resolución de Aprobación 3250 del 05 de Abril de 2013; Resolución Modiﬁcación 20280 del 28 de noviembre de 2014.</em></h5>
            <p>El Técnico Profesional en Procesos Contables de la Fundación de Educación Superior Nueva América, estará en capacidad de identiﬁcar y registrar las operaciones de intercambio de bienes y servicios que se incorpora a la contabilidad, para ser expresados a través de estados ﬁnancieros, proporcionados elementos necesarios para el cumplimiento de obligaciones ﬁnancieras, económicas y tributarias, así como la toma de decisiones por parte de la alta gerencia de las organizaciones.</p>
           
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-theme-colored">Perfil Ocupacional </h3>
                <p><li>Asistente contable</li>
                  <li>Asistente de costos y presupuestos</li>
                  <li>Asistente de impuestos</li>
                  <li>Asistente de tesorería</li>
                  <li>Asistente de recursos humanos y nómina</li>
                </p><br>
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-12">
                    <div class="widget">
                      <h4 class="widget-title line-bottom">Información</h4>
                        <div class="opening-hours">
                          <ul class="list-border">
                            <li class="clearfix"> <span> Título :  </span>
                              <div class="value pull-right"> Técnico Profesional en Procesos Contables. </div>
                            </li>
                            <li class="clearfix"> <span> Total Créditos :</span>
                              <div class="value pull-right"> 58 </div>
                            </li>
                            <li class="clearfix"> <span> Semestres : </span>
                              <div class="value pull-right"> 4 </div>
                            </li>
                            <li class="clearfix"> <span> SNIES : </span>
                              <div class="value pull-right"> 102386 </div>
                            </li>
                            <li class="clearfix"> <span> Resolución : </span>
                              <div class="value pull-right"> 3250 del 5 de abril de 2013 </div>
                            </li>
                            <li class="clearfix"> <span> Jornadas : </span>
                              <div class="value pull-right"> Diruna/Nocturna/Sábados </div>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </div>
            <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="icon-box box-border text-center mb-20 p-15"> 
                     <i class="fa fa-desktop text-theme-color-2 font-36 video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=KQK-Q313nlc" data-target="#myModal"></i>
                     
                     
                      <h4>Click ver Video</h4>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="icon-box box-border text-center mb-20 p-15">
                      <a href="http://www.nuevaamerica.edu.co/wp-content/uploads/2018/09/PROGRAMA-PROCESOS-CONTABLES-.jpg" target="_black"><i class="fa fa-user text-theme-color-2 font-36"></i>
                      <h4>Plan de estudios</h4></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="icon-box box-border text-center mb-20 p-15">
                      <i class="fa fa-money text-theme-color-2 font-36"></i>
                      <h4 class="">Información de costos</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-xsm-12 col-md-4">
          <div class="sidebar sidebar-right mt-sm-30" >
             <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/83r_zzg5UsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <div class="p-30 bg-theme-colored mt-10" >
            <div style="text-align: center;">
              <h3 class="text-white mt-0 mb-10">Tengo dudas quiero que me llamen!</h3>
            </div>
            <!-- div para dejar estatico el formulario -->
            
            <!-- Appilication Form Start-->
            <form id="reservation_form" name="reservation_form" class="reservation-form mt-20" method="post" action="#">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input placeholder="Tu nombre" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">
                  </div>
                   <div class="form-group mb-20">
                    <input placeholder="Tu Apellido" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input placeholder="Email" type="text" id="reservation_email" name="reservation_email" class="form-control" required="">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input placeholder="Celular" type="text" id="reservation_phone" name="reservation_phone" class="form-control" required="">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-20">
                    <input name="Date" class="form-control required date-picker" type="text" placeholder="Date" aria-required="true">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group mb-0 mt-10">
                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                    <button type="submit" class="btn btn-colored btn-info text-white btn-lg btn-block" data-loading-text="Please wait...">Quiero que me llamen</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- Application Form End-->


            <!-- Application Form Validation Start-->
            <script type="text/javascript">
              $("#reservation_form").validate({
                submitHandler: function(form) {
                  var form_btn = $(form).find('button[type="submit"]');
                  var form_result_div = '#form-result';
                  $(form_result_div).remove();
                  form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                  var form_btn_old_msg = form_btn.html();
                  form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                  $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                      if( data.status == 'true' ) {
                        $(form).find('.form-control').val('');
                      }
                      form_btn.prop('disabled', false).html(form_btn_old_msg);
                      $(form_result_div).html(data.message).fadeIn('slow');
                      setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                  });
                }
              });
            </script>
            <!-- Application Form Validation Start -->
            </div>

          
             <img src="assets/images/bg/banner5.png">
          </div>
        </div>
      </div>
    </div>
  </section>