<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="assets/images/bg/bg6.jpg">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white text-center">Procesos Contables</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Programas</a></li>
              <li><a href="#">Técnicos Profesionales</a></li>
              <li class="active text-gray-silver">Procesos Contables</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>