<br>
<br>
<br>
<br>
<section class="bg-silver-light">
    <div class="container pt-0 pb-0">
      <div class="section-content">
        <div class="row equal-height-inner home-boxes" data-margin-top="-100px">
          <div class="col-sm-12 col-md-12 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
            <div class="sm-height-auto bg-theme-colored">
              <div class="text-center pt-30 pb-30">
                <i><a href="http://red.lapolitecnica.edu.co" class="text-white" target="_blank"><img src="http://lapolitecnica.edu.co/images/logobvirtual.png" alt="Bachillerato Virtual"></a></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="clients bg-theme-colored">
    <div class="container pt-10 pb-0 pt-sm-0 pb-sm-0">
      <div class="row">
        <div class="col-md-12">
          <!-- Section: Clients -->
          <div class="owl-carousel-6col transparent text-center owl-nav-top">
            <div class="item"> <a href="#"><img src="assets/images/clients/w1.png" alt=""></a></div>
            <div class="item"> <a href="#"><img src="assets/images/clients/w2.png" alt=""></a></div>
            <div class="item"> <a href="#"><img src="assets/images/clients/w3.png" alt=""></a></div>
            <div class="item"> <a href="#"><img src="assets/images/clients/w4.png" alt=""></a></div>
            <div class="item"> <a href="#"><img src="assets/images/clients/w6.png" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>
  </section> 

  
  